<div class="container p-0">
  <div class="my-services-container">

    <div class="row my-services-row">
      <div class="animation-container">
        <div class="animation1">
          <div class="img2-container">
            <img class="img2" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation2.png" alt="">
          </div>
          <div class="img1-container">
            <img class="img1" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation1.png" alt="">
          </div>
          <div class="img3-container">
            <img class="img3" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation3.png" alt="">
          </div>
          <div class="img4-container">
            <img class="img4" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation9.png" alt="">
          </div>
          <div class="img5-container">
            <img class="img5" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation10.png" alt="">
          </div>

        </div>
        <!-- <div class="animation2">
          <img class="img2" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation2.png" alt="">
        </div> -->
      </div>
      <div class="col-md-12 my-services-row-col">
        <div class="card p-5 mb-4 my-services-card">

          <div class="my-services-container-card-body">
            <div class="px-5 row card-header-myservices d-flex align-items-center">
              <!-- Column 1: My Service Title -->
              <div class="col-md-6 col-sm-12 card-header-container-myservices">
                <div class="word-my">My <span class="word-services">Service</span></div>
              </div>
              <!-- Column 2: SPA Text -->
              <div class="col-md-6 col-sm-12 card-header-container-myservices">
                <div class="my-services-header-spa">
                  "SPA (Single Page Application) techniques are used for building dynamic, high-performance web
                  applications with smooth transitions."
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <!-- Column 1 -->
                <div class="col-lg-4 col-md-6 col-sm-12 card-of-projects">
                  <div class=" card-container">
                    <div class="card-header">
                      <div class="heading-my-services-card">Front-End Development</div>
                    </div>
                    <div class="card-body">
                      <div class="container card-body-container">
                        <!-- Parent Div -->
                        <div class="col card-body-parent d-flex align-items-end">
                          <!-- Child Div 1 -->
                          <div class="col-12 card-body-cd-one">
                            <div class="card-body-cd-img"></div>
                          </div>
                          <!-- Child Div 2 -->
                          <div class="col-12 card-body-cd-two">
                            <div class="card-body-cd-img"></div>
                          </div>
                          <!-- Child Div 3 -->
                          <div class="col-12 card-body-cd-three">
                            <div class="card-body-cd-img">
                              <a href="https://www.pixtrans.com" target="blank">
                                <img src="../../../assets/image/PNG/myServices/pixtran.png" alt="UI/UX Design Image"
                                  class="card-image" />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="footer-card">
                    <div class="footer-icon-container">
                      <div class="arrowfont">&#8599;</div>
                    </div>
                  </div>
                </div>
                <!-- Column 2 -->
                <div class="col-lg-4 col-md-6 col-sm-12 card-of-projects">
                  <div class="card-container">
                    <div class="card-header">
                      <div class="heading-my-services-card">UI/UX Prototyping</div>
                    </div>
                    <div class="card-body">
                      <div class="container card-body-container">
                        <!-- Parent Div -->
                        <div class="col card-body-parent d-flex align-items-end">
                          <!-- Child Div 1 -->
                          <div class="col-12 card-body-cd-one">
                            <div class="card-body-cd-img"></div>
                          </div>
                          <!-- Child Div 2 -->
                          <div class="col-12 card-body-cd-two">
                            <div class="card-body-cd-img"></div>
                          </div>
                          <!-- Child Div 3 -->
                          <div class="col-12 card-body-cd-three">
                            <div class="card-body-cd-img">
                              <a href="https://jcp.jioconnect.com/jcpnewbeta/" target="blank">
                                <img src="../../../assets/image/PNG/myServices/dashbord-jio.png"
                                  alt="UI/UX Design Image" class="card-image" />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="footer-card">
                    <div class="footer-icon-container">
                      <div class="arrowfont">&#8599;</div>
                    </div>
                  </div>
                </div>

                <!-- Column 3 -->
                <div class="col-lg-4 col-md-6 col-sm-12 card-of-projects">
                  <div class="card-container">
                    <div class="card-header">
                      <div class="heading-my-services-card">UI/UX Prototyping</div>
                    </div>
                    <div class="card-body">
                      <div class="container card-body-container">
                        <!-- Parent Div -->
                        <div class="col card-body-parent d-flex align-items-end">
                          <!-- Child Div 1 -->
                          <div class="col-12 card-body-cd-one">
                            <div class="card-body-cd-img"></div>
                          </div>
                          <!-- Child Div 2 -->
                          <div class="col-12 card-body-cd-two">
                            <div class="card-body-cd-img"></div>
                          </div>
                          <!-- Child Div 3 -->
                          <div class="col-12 card-body-cd-three">
                            <div class="card-body-cd-img">
                              <a href="https://login.microsoftonline.com/7831e6d9-dc6c-4cd1-9ec6-1dc2b4133195/oauth2/v2.0/authorize?client_id=56e84547-290a-4e01-9ea1-0722a37dbe83&scope=openid%20profile%20offline_access&redirect_uri=https%3A%2F%2Fcop.hitachienergy.com%2Fauth&client-request-id=0192a405-ab0e-7085-aebb-5d3cca880bef&response_mode=fragment&response_type=code&x-client-SKU=msal.js.browser&x-client-VER=3.11.1&client_info=1&code_challenge=BFr9y8iOUwYdT9RmYy7P4IzpjzRmEWJl8oa4mzZVI1s&code_challenge_method=S256&nonce=0192a405-ab11-7d29-a866-c0f35a94cd30&state=eyJpZCI6IjAxOTJhNDA1LWFiMGUtNzczYi1iZGQ4LTZiMzAwNWM1M2VjMyIsIm1ldGEiOnsiaW50ZXJhY3Rpb25UeXBlIjoicmVkaXJlY3QifX0%3D"
                                target="blank">
                                <img src="../../../assets/image/PNG/myServices/hitachi-ABB.png" alt="UI/UX Design Image"
                                  class="card-image" />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="footer-card">
                    <div class="footer-icon-container">
                      <div class="arrowfont">&#8599;</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
  </div>

</div>
